<%- include("partials/header.ejs") %>

<section>
  <div class="container">
    <div class="subcontainer">
      <% if (typeof token_success != "undefined" && token_success) { %>
      <form action="/auth/update-password" id="register-form" method="POST">
        <div class="title">
          <h2>Update password</h2>
        </div>
        <div id="password-container">
          <input type="hidden" name="token" class="form-control" value="<%= token %>">
          <input type="hidden" name="token_expires" class="form-control" value="<%= token_expires %>">
          <input type="hidden" name="id" class="form-control" value="<%= id %>">
          <input type="password" id="password" name="password" maxlength="60" placeholder="Password" required>
          <p id="password-strength-text"></p>
        </div>
        <div>
          <input type="password" id="password-confirm" name="password_confirm" maxlength="60" placeholder="Confirm password" required>
        </div>
        <div id="show-password-container">
          <div>
            <input type="checkbox" id="show-password">
            <label for="show-password">Show password</label>
          </div>
        </div>
        <div>
          <button id="update-password">Update</button>
        </div>
        <% if (typeof allParsedErrors !="undefined" && allParsedErrors) { %>
          <% for(let i=0; i < allParsedErrors.errors.length; i++ ) { %>
            <div class="alert-message">
              <%= (allParsedErrors.errors[i].msg) %>
            </div>
          <% } %>
        <% } %>
      </form>
      <% } else if (typeof token_success != "undefined" && !token_success) { %>
        <div class="alert-message">
         <p><%= message %></p> 
        </div>
      <% } %>
    </div>
  </div>
</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>
<script src="/js/script.js"></script>
<script>
  // show/hide password
  const showPassword = document.querySelector("#show-password");
  const passwordField = document.querySelector("#password");
  const passwordMatchField = document.querySelector("#password-confirm");

  showPassword.addEventListener("click", function (e) {
    if (showPassword.checked) {
      passwordField.setAttribute("type", "text");
      passwordMatchField.setAttribute("type", "text");
    }
    else {
      passwordField.setAttribute("type", "password");
      passwordMatchField.setAttribute("type", "password");
    }
  })
</script>

<%- include("partials/footer.ejs") %>